<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Omok Game</title>
</head>
<body>
    <div class="heading">Omok Game</div>
    <div id="game-view">
            <div v-for="i in 10">
                <div class="game-view-square" v-for="j in 10" v-on:click="makeMove(i,j)">
                         <!-- {{i}}{{j}} -->
                         <span v-if="playerpress[i]"> 
                                <img v-if="playerpress[i][j]" :src="playerpress[i][j]" class="img-gif"/>
                         </span>
                </div>
            </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
        let answers = [[0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0],
                    [0,0,0,0,0,0,0,0,0,0]
                ];
        
        let playerpress = {};
        for(i=1;i<=10;i++){
            playerpress[i] = {};
            for(j=1;j<=10;j++){
                playerpress[i][j] = ''; //initialize a blank object for placing gif
            }    
        }
        let gameVue= new Vue({
            el:'#game-view',
            data:{
                player1: '3',
                player2: '4',
                face1:'face1.gif',
                face2:'face2.gif',
                currentTurn: '',
                playerpress: playerpress
            },
            methods:{
                makeMove(i,j){
                    // console.log(this.template);
                    // console.log(answers)
                    if(!(answers[i-1][j-1] == 3) || !(answers[i-1][j-1] == 4)){        //check for making move in same position
                        if(answers[i-1][j-1] == 4 || answers[i-1][j-1] == 3) {
                                alert("Already placed");
                        }else if(this.currentTurn == ''){
                            this.currentTurn = this.player1; 
                                this.playerpress[i][j] = this.face1;
                                answers[i-1][j-1] = 3;
                            this.currentTurn = this.player2;
                        }else if(this.currentTurn === this.player2){
                                this.playerpress[i][j] = this.face2;
                                answers[i-1][j-1] = 4;
                            this.currentTurn = this.player1;
                        }else if(this.currentTurn === this.player1){
                            this.playerpress[i][j] = this.face1;
                            answers[i-1][j-1] = 3;
                            this.currentTurn = this.player2;
                        }
                        console.log(answers);
                     
                    }
                   
                        this.checkForWinner(i);
                },
                playerwin(str){
                    if(str.includes('33333')){
                        alert("Player 1 win")
                     }else if(str.includes('44444')){
                        alert("Player 2 win");
                     }
                },
                checkForWinner(i){                                  
                const winningCombinations = [
                    [11,12,13,14,15,16,17,18,19,110],
                    [21,22,23,24,25,26,27,28,29,210],
                    [31,32,33,34,35,36,37,38,39,310],
                    [41,42,43,44,45,46,47,48,49,410],
                    [51,52,53,54,55,56,57,58,59,510],
                    [61,62,63,64,65,66,67,68,69,610],
                    [71,72,73,74,75,76,77,78,79,710],
                    [81,82,83,84,85,86,87,88,89,810],
                    [91,92,93,94,95,96,97,98,99,910],
                    [101,102,103,104,105,106,107,108,109,1010]
                ];
                //ROW CHECK
                for(let i=0; i < winningCombinations.length;i++){
                    let str = '';
                    // console.log("-----");
                    for(let j=0; j < winningCombinations.length; j++){
                         str+= answers[i][j];
                        //  console.log(winningCombinations[i][j]);    //horizontal check(row)
                    }
                    this.playerwin(str);
                }
                //COLUMN CHECK
                for(let i=0; i<winningCombinations.length;i++){
                    let str = '';
                    for(let j=0; j < winningCombinations.length; j++){
                        str+= answers[j][i];
                        //   console.log(winningCombinations[j][i]);        //straight line check (vertical)
                    }
                    //  console.log(str);
                    this.playerwin(str);
                }

                //RIGHT SIDE UPPER diagonal
                for(let i=0;i<winningCombinations.length;i++){
                    //  console.log("------");
                    let str = '';
                    for(let j=0,k=i; k < winningCombinations.length; j++,k++){
                        // console.log(winningCombinations[j][k]);
                        str+= answers[j][k];
                    }
                    this.playerwin(str);

                    // console.log(str);
                }

                //right side lower diagonal
                for(let i=1;i<winningCombinations.length;i++){
                    //  console.log("------"); 
                    let str = '';
                    for(let j=i,k=0; j < winningCombinations.length; j++,k++){
                        //  console.log(winningCombinations[j][k]);
                        str+= answers[j][k];
                    }
                    this.playerwin(str);

                    // console.log(str);
                }

                //Left side lower diagonal
                for(let i=0;i<winningCombinations.length;i++){
                    let str = '';
                    //  console.log("------");                           
                    for(let j=i, k=winningCombinations.length-1; j < winningCombinations.length; j++,k--){
                        // console.log(winningCombinations[j][k]);
                        str+= answers[j][k];
                    }
                    this.playerwin(str);

                }
                
                //left side upper diagonal
                for(let i=winningCombinations.length-1; i>0; i--){
                    //  console.log("------");
                    let str = '';
                    for(let j=0, k=i; j < winningCombinations.length; j++,k--){
                        // console.log(winningCombinations[j][k]);
                        str+= answers[j][k];
                    }
                    this.playerwin(str);

                }

                }
            }
        });
    </script>

</body>
</html>